*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'open sans';
  font-size: 16px;
}
header{
    width: 100%;
    height: 650px;
    background-image: url(../img/Skewed.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    color: #fff;
    text-align: center;
}
.header_texts{
    margin-top: 162px;
}
.header_title{
    font-size: 85px;
}
.header_subtitle{
    font-size: 38px;
    font-weight: 300;
    margin-bottom: 40px;
}
.header_btn{
  display: inline-block;
  padding: 6px;
  width: 128px;
  border: 1px solid #fff;
  color: #fff;
  font-size: 19px;
  text-align: center;
  text-decoration: none;
  border-radius: 16px;
}
.header_btn:hover{
  background: #fff;
  color: #2c3e50;
  transition: 1s;
}
.sesgoabajo{
  z-index: 10;
  position: absolute;
  bottom:0;
  left:0;
  border-width: 0 0 35vh 100vw;
  border-style: solid;
  border-color: transparent  transparent #fff transparent ; 
}
.sesgoarriba{
  z-index: 10;
  position: absolute;
  top:0;
  left:0;
  border-width: 35vh 100vw 0 0;
  border-style: solid;
  border-color: #fff transparent transparent  transparent; 
}
.container{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    padding: 52px 0 52px 0;
}
.acerca-de_title{
  text-align: center;
  font-size: 56px;
  margin-bottom: 10px;
  font-weight: 600;
}
.acerca-de_slogan{
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 24px;
}
.acerca-de_text{
  margin-bottom: 13px;
  text-align: justify;
  font-weight: 300;
  line-height: 24px;
  color: rgb(24, 16, 16);
}
.acerca-de_btn{
  display: inline-block;
  padding: 6px;
  font-weight: 300;
  font-size: 16px;
  width: 128px;
  border: 1px solid #000;
  color: #000;
  font-size: 19px;
  text-align: center;
  margin-top: 24px;
  text-decoration: none;
  border-radius: 16px;
}
.galery{
  width: 100%;
  height: 500px;
  overflow: hidden;
  display: flex;
  position: relative;
}
.galery_image{
  width: 20%;
  height: 500px;
  overflow: hidden;
  position: relative;
}
.galery_image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.encima{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(52, 73, 94, 0.815);
}
.encima h2{
  position: relative;
  top: 45%;
  text-align: center;
  color: white;
}
.encima div{
  position: relative;
  top: 46%;
  height: 5px;
  background: #fff;
  width: 40px;
  margin: auto;
  display: block;
}
.cards{
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.card{
  margin: 20px 0;
  width: 30%;
  height: 250px;
  padding: 20px;
  text-align: center;
  box-shadow: 0px 0px 4px 0px rgba(52, 73, 94, 0.815);
}
.cards img{
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 100%;
}
.fondo{
  height: 900px;
  position: relative;
  background-image: url(/img/fondo.png);
  overflow: hidden;
  background-attachment: fixed;
  background-position: center;
  padding-top: 130px;
}
.sesgoabajo-unico{
  z-index: 10;
  position: absolute;
  bottom:0;
  left:0;
  border-width: 0 0 35vh 100vw;
  border-style: solid;
  border-color: transparent  transparent #2c3e50 transparent ; 
}
.sponsors_title, .sponsors_subtitle{
  color: #fff;
  text-align: center;
}
.sponsors_title{
  font-size: 56px;
  margin-top: 48px;
}
.sponsors_subtitle{
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 64px;
}
.clients{
  width: 100%;
  margin: auto;
  display: flex;
  margin-bottom: 34px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.client{
  margin: 20px 0;
  width: 30%;
  height: 250px;
  padding: 20px;
  text-align: center;
}
.client img{
  width: 100%;
}
.client h4{
  font-size: 32px;
  margin-top: 15%;
  color: #fff;
}
.sponsors_title_bottom{
  color: #fff;
}
footer{
  background-color: #2c3e50;
}
.footer_title{
  text-align: center;
  color: #fff;
  font-size: 56px;
  font-weight: 400;
}
.footer_subtitle{
  text-align: center;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 56px;
}
form{
 display: flex;
 width: 100%;
 justify-content: space-between;
 flex-wrap: wrap;
 margin: auto;
}
input[type="text"], input[type="email"]{
  display: inline-block;
  width: 48%;
  padding: 13px;
  border: none;
  color: #fff;
  font-family: 'open sans';
  background: rgba(37,37,33,.7);
  margin-bottom: 16px;
  border-top: 1px solid rgba(37,37,33,.7);
}
textarea{
  width: 100%;
  display: block;
  max-width: 100%;
  min-width: 100%;
  max-height: 200px;
  min-height: 200px;
  background: rgba(37,37,33,.7);
  padding: 13px;
  border: none;
  color: #fff;
  font-family: 'open sans';
  margin-bottom: 16px;
}
input[type="submit"]{
  display: inline-block;
  padding: 13px;
  border: none;
  color: #fff;
  background: rgba(37,37,33,.7);
  width: 16%;
}